#barraLateral.sidebar {
    background-color: #11284a !important;
}

.card {
    transition: transform 0.3s;
    margin-bottom: 20px;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.card-icon {
    font-size: 2.5rem;
    margin-bottom: 15px;
}
.sidebar {
    min-height: 100vh;
    background-color: #343a40;
}
.sidebar .nav-link {
    color: rgba(255,255,255,.5);
    margin-bottom: 5px;
}
.sidebar .nav-link:hover, .sidebar .nav-link.active {
    color: rgba(255,255,255,.75);
    background-color: rgba(255,255,255,.1);
}
.main-content {
    padding: 20px;
}