body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 200px 1fr;
    transition: grid-template-columns 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom right, #0e1d3a, #163863);
    color: #fff;
}

/* Sidebar */
aside {
    height: 100vh;
    background: linear-gradient(to bottom, #4a90e2, #1b2a4e);
    transition: transform 0.3s ease;
}

/* Conteúdo principal */
main {
    grid-area: main;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

body.collapsed {
    grid-template-columns: 0px 1fr; /* correto */
}

body.collapsed aside {
    transform: translateX(-100%);
}


@media (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
    }

    aside {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 250px;
        transform: translateX(-100%);
    }

    aside.show {
        transform: translateX(0);
    }


    main {
        padding: 20px;
    }
}


/* Responsividade 
@media (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas: "main";
    }

    body.collapsed {
        grid-template-columns: 1fr;
    }

    aside {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 250px;
        transform: translateX(-100%);
        z-index: 150;
    }

    aside.show {
        transform: translateX(0);
    }

    main {
        padding-left: 10px;
        padding-right: 10px;
    }
}
*/